name: Docker Build Test

on: [push, pull_request]

jobs:
  docker-build-and-run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, riscv64, aarch64, loongarch64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Build Docker Image
        run: docker build -t arceos-docker .
      - name: Test Docker Image
        run: |
          docker run --rm arceos-docker rustc --version
          docker run --rm arceos-docker cargo --version
      - name: Build helloworld
        run: docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace arceos-docker make ARCH=${{ matrix.arch }} A=examples/helloworld
      - name: Build httpclient
        run: docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace arceos-docker make ARCH=${{ matrix.arch }} A=examples/httpclient
      - name: Build httpserver
        run: docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace arceos-docker make ARCH=${{ matrix.arch }} A=examples/httpserver
      - name: Build shell
        run: docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace arceos-docker make ARCH=${{ matrix.arch }} A=examples/shell
      - name: Build helloworld-c
        run: docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace arceos-docker make ARCH=${{ matrix.arch }} A=examples/helloworld-c
      - name: Build httpclient-c
        run: docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace arceos-docker make ARCH=${{ matrix.arch }} A=examples/httpclient-c
      - name: Build httpserver-c
        run: docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace arceos-docker make ARCH=${{ matrix.arch }} A=examples/httpserver-c